@page "/about"
@inject HttpClient Http

<div class="container">
  <div class="row">
@((MarkupString)Doc)
  </div>
</div>

@code {
    bool IsLoaded = false;
    string? Doc;

    protected override async Task OnParametersSetAsync()
    {
        if (IsLoaded == false)
        {
            IsLoaded = true;
            Doc = await Content.GetWithinTag(Http, "about");
        }
    }
}