@page "/block"
@inject HttpClient Http
@inject ZMCache Cache
@inject NavigationManager NavigationManager
@inject IJSRuntime _jsRuntime

@if (zv == null)
{
    <div class="row mb-2">
        <div class="col-md-4 mb-2">
            <div class="card text-dark bg-light h-100" aria-hidden="true">
                <div class="card-body">
                    <h5 class="card-title placeholder-glow"><span class="placeholder col-2"></span><span class="placeholder col-4"></span></h5>
                    <p class="card-text placeholder-glow">
                        <b><span class="placeholder col-4"></span></b>
                        <span class="placeholder col-1"></span>
                        <span class="placeholder col-1"></span>
                        <span class="placeholder col-7"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-4"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="card text-dark bg-light h-100" aria-hidden="true">
                <div class="card-body">
                    <h5 class="card-title placeholder-glow"><span class="placeholder col-2"></span><span class="placeholder col-4"></span></h5>
                    <p class="card-text placeholder-glow">
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-6"></span>
                        <span class="placeholder col-8"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="card text-dark bg-light h-100" aria-hidden="true">
                <div class="card-body">
                    <h5 class="card-title placeholder-glow"><span class="placeholder col-2"></span><span class="placeholder col-4"></span></h5>
                    <p class="card-text placeholder-glow">
                        <span class="placeholder col-6"></span>
                        <span class="placeholder col-8"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <p class="placeholder-glow" aria-hidden="true">
        <span class="placeholder col-1"></span>
    </p>

    <div>
        <table class="table table-hover table-sm placeholder-glow">
            <thead>
                <tr>
                    <th scope="col"><span class="placeholder col-6"></span></th>
                    <th scope="col" class="px-2"></th>
                    <th scope="col"><span class="placeholder col-7"></span></th>
                    <th scope="col"><span class="placeholder col-5"></span></th>
                    <th scope="col"><span class="placeholder col-8"></span></th>
                    <th scope="col"><span class="placeholder col-8"></span></th>
                    <th scope="col"><span class="placeholder col-2"></span></th>
                    <th scope="col"><span class="placeholder col-10"></span></th>
                    <th scope="col"><span class="placeholder col-12"></span></th>
                    <th scope="col"><span class="placeholder col-7"></span></th>
                    <th scope="col"><span class="placeholder col-3"></span></th>
                    <th scope="col"><span class="placeholder col-10"></span></th>
                    <th scope="col"><span class="placeholder col-12"></span></th>
                </tr>
            </thead>
            <tbody>
                @{
                    for (int i = 0; i < 20; i++)
                    {
                        <tr>
                            <td><span class="placeholder col-3"></span></td>
                            <td class="px-2"></td>
                            <td><span class="placeholder col-3"></span></td>
                            <td><span class="placeholder col-4"></span></td>
                            <td><span class="placeholder col-4"></span></td>
                            <td><span class="placeholder col-4"></span></td>
                            <td></td>
                            <td><span class="placeholder col-12"></span></td>
                            <td><span class="placeholder col-14"></span></td>
                            <td><span class="placeholder col-12"></span></td>
                            <td><span class="placeholder col-12"></span></td>
                            <td><span class="placeholder col-11"></span></td>
                            <td><span class="placeholder col-11"></span></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
else
{
    <BlockTable ZV=@zv />
    <BlockTxTable ZV=@zv TxIndex=@TxIndex />
}

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "num")]
    public long? BlockNumber { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "txh")]
    public string? TxHash { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "txi")]
    public int? TxIndex { get; set; }

    ZMView zv;

    protected override async Task OnParametersSetAsync()
    {
        // interpret the tx hash, which takes priority if supplied
        if (TxHash != null)
        {
            var txh = await Cache.TxhCache.Get(Http, TxHash);
            if (txh != null && txh.APIResult == APIResult.Ok)
            {
                BlockNumber = txh.BlockNumber;
                TxIndex = txh.TxIndex;
            }
        }

        // get the block view
        if (BlockNumber.HasValue)
            zv = await Cache.ZMViewCache.Get(Http, BlockNumber.Value);

        // fail if we don't have a valid block view by now
        if (zv == null)
            NavigationManager.NavigateTo("searchfailed");
        else
        {
            if (zv.IsQuotaExceeded)
                NavigationManager.NavigateTo("quotaexceeded");
            else
                Cache.SetLastBlockNumber(zv.LastBlockNumber);
        }
    }
}