@page "/"
@inject HttpClient Http
@inject ZMCache Cache
@inject NavigationManager NavigationManager

<p class="h3">recent mev</p>
<p>note: mev data on this site is <b>not yet real</b> and has been mocked up for development purposes, transaction time order data is genuine.</p>
<BlocksTable MEVBlocks=MEVBlocks/>

<ul class="pagination">
    <li class="page-item"><a class="page-link mx-2 my-2" href="blocks?num=@(MEVBlocks[MEVBlocks.Count-1].BlockNumber-(API.BlocksPerPage+1))">more</a></li>
</ul>

@code {
    List<MEVBlock> MEVBlocks = null;

    private long[,] MockBlocks = new long[,]
                        {
                {13900798,168},
                {13900799,414},
                {13900800,350},
                {13900801,367},
                {13900802,183},
                {13900803,84},
                {13900804,442},
                {13900805,286},
                {13900806,24},
                        };

    protected override async Task OnParametersSetAsync()
    {
        if (MEVBlocks == null)
        {
            MEVBlocks = new List<MEVBlock>();
            for (int i = MockBlocks.GetUpperBound(0); i >= 0; i--)
            {
                var mb = new MEVBlock(MockBlocks[i, 0]);
                mb.MockMEV((int)MockBlocks[i, 1]);
                mb.BuildMEVSummaries();
                MEVBlocks.Add(mb);
            }
        }
    }
}