@page "/"
@inject HttpClient Http
@inject ZMCache Cache
@inject NavigationManager NavigationManager

<p class="h4">recent mev</p>

<BlocksTable MEVLiteCache=MEVLiteCache/>

@code {
    MEVLiteCache? MEVLiteCache = null;

    protected override async Task OnParametersSetAsync()
    {
        MEVLiteCache = await API.GetMEVLiteCache(Http);
    }
}