@page "/quotaexceeded"

<div class="row">
    <div class="col-8">
        <p>
            <h5>sorry, your quota of requests has been exceeded.</h5>
        </p>
        <p>
            <h7>please try again later.</h7>
        </p>
    </div>
</div>