@page "/searchfailed"

<div class="row">
    <div class="col-8">
        <p>
            <h5>sorry, that text was not found.</h5>
        </p>
        <p>
            <h7>please enter a valid ethereum block number, transaction hash or address, or go back to the <a href="" class="link-primary">home page</a>.</h7>
        </p>
    </div>
    <div class="col-4">
        <img src="lost.svg" />
    </div>
</div>