<div class="container-fluid" style="background-color:rgb(11,10,30)">
    <div class="row">
        <div class="col my-2">
            <a href=""><img src="zm.svg" height="60"/></a>
        </div>
    </div>
</div>