<nav class="container-fluid tnavbar navbar-dark" aria-label="Navigation" style="background-color:rgb(11,10,30)">
    <div class="tnavbar__logo">
        <a href=""><img src="zm.svg" height="60" /></a>
    </div>
    <div class="tnavbar__search">
        <Search />
    </div>

    <button title="Navigation menu" class="navbar-toggler tnavbar__toggle" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="@NavMenuCssClass collapse navbar-collapse">
        <ul class="tnavbar__nav">
            <li>
                <NavLink class="nav-link" href="">home</NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="about">about</NavLink>
            </li>
        </ul>
    </div>
</nav>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? null : "show";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
